/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: white;
    background-image: linear-gradient(90deg,
    transparent 79px, #C14B4B 79px, #c14b4b 81px, transparent 81px),
    linear-gradient(#B5D4FC .2em, transparent .1em);
    background-size: 100% 2em;
}

/*Sticky Navigation */

.navbar {
   position: fixed;
   bottom: 0;
   left: 360px;
   right: 150px;
   width: 50%;
   justify-content: center;
   background: #FADD5D;
   color: #000;
   padding: 15px 0;
   text-align: center;
   z-index: 1000;
   font-family: "Archivo", serif;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Archivo", serif;
}

.navbar ul li{
    display: inline;

}

.navbar ul li a:hover{
    background: #C14B4B;
    color: #B5D4FC;
    border-radius: 0px;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home{
    position: relative;
    h1{color: black;text-align: center;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
}

.underline{
    display: block;
    position: relative;
    margin-left: 360px;
    margin-top: -330px;}


.box1{
    width: 850px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 30px;
    background: white;
    position: absolute;
}

.box3{
    width: 750px;
    height: 350px;
    position: absolute;
    color: black;
    font-family: Archivo;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 130px;
    text-align: center;
    letter-spacing: 0.1rem;
}

.box2{
    width: 750px;
    height: 350px;
    border-radius: 30px;
    border: 10px solid #000;
    position: absolute;
    color: black;
    font-family: Archivo;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: 340px;
    text-align: center;
}

#meet{
    margin-top: 250px;
    h1{
        color: #FFF;
        -webkit-text-stroke-width: 6px;
        -webkit-text-stroke-color: #000;
        font-family: Archivo;
        font-size: 80px;
        font-style: italic;
        font-weight: 900;
        position: absolute;
        margin-bottom: 570px;
        letter-spacing: 0.1rem;
    }

    p{
        right: 250px;
        bottom: 200px;
        position: relative;
        font-family: "Archivo", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-size: 30px;

    }

    ul{
        text-align: left;
    }
    
    li{
        font-family: Archivo;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        width: 500px;
        height: 110px;
        position: relative;
        right: 450px;
        bottom: -5px;
        list-style-position: outside;
        margin-top: -50px;
        line-height: auto;
    }
}

.image-container{
    display: grid;
    width: 350px;
    height: 500px;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-left: 650px;
    margin-top: -615px;
}

#about{
    margin-top: 43px;
    margin-left: 50px;
    h1{
        color: #0552B5;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #000;
        font-family: "Archivo Narrow";
        font-size: 96px;
        font-style: italic;
        font-weight: 700;
        line-height: 80%;
        word-spacing: 1.92px;
        position: absolute;
        margin-bottom: 570px;
        margin-left: -800px;
    }

    ul{
        text-align: left;
        margin-top: 55px;
    }

    li{
        font-family: Archivo;
        font-size: 25px;
        font-style: italic;
        font-weight: 100;
        line-height: 30px;
        width: 600px;
        height: 100px;
        position: relative;
        right: 250px;
        bottom: 50px;
        list-style-position: outside;
        margin-top: -60px;
        margin-left: 50px;
    }

    b{
        font-family: "Chivo", serif;
        color: #000;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: underline wavy #C14B4B;
    }
}

.normal{
    color: #0552B5;
    font-family: Archivo;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%; /* 52.8px */
    letter-spacing: -0.8px;
    margin-left: 80px;
    margin-top: -40px;
    position: relative;
}

.black-style{
    color: #0552B5;
    font-family: "Archivo Black";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%; /* 52.8px */
    letter-spacing: -0.8px;
    margin-left: 190px;
    margin-top: 90px;
    width: 50px;
}

.narrow{
    color: #0552B5;
    font-family: "Archivo Narrow";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 132%; /* 52.8px */
    letter-spacing: -0.8px;
    margin-left: 690px;
    margin-top: -180px;
    width: 50px;
}

.archivoarrow{
    margin-left: 240px;
    margin-top: -395px;
    position: relative;
}

.blackarrow{
    margin-left: 380px ;
    margin-top: -130px;
    position: relative;
}
.narrowarrow{
    margin-left: 530px ;
    margin-top: -290px;
    position: relative;
}

.textbubble{
    margin-left: 1056px;
    margin-top: -70px;
}

.fun-facts{
    color: #C14B4B;
    text-align: center;
    font-family: "Archivo Narrow";
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-left: 1090px;
    margin-top: -370px;
    width: 150px;
    height: 50px;
    position: relative;
}

.facts{
    width: 350px;
    height: 350px;
    background-color: #FADD5D;
    color: #C14B4B;
    font-family: "Archivo Narrow";
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    text-transform: lowercase;
    display: grid;
    grid-template: 1fr;
    margin-left: auto;
    margin-right: 80px;
    text-align: left;
    margin-top: -40px;
    padding: 40px;
    color: #C14B4B;
    font-kerning: 50%;
}

#type-anatomy{
    margin-left: 650px;
    margin-top: -180px;
    h1{ text-align: center;
        -webkit-text-stroke-width: 20px;
        -webkit-text-stroke-color: #85B4F1;
        paint-order: stroke fill;
        color: white;
        font-family: "Archivo Black";
        font-size: 96px;
        font-style: regular;
        line-height: 132%; /* 126.72px */
        letter-spacing: -1.92px;
    }
}

/* Slider container */
.slider-container {
    width: 1191px;
    height: 355px;
    overflow: hidden;
    border-radius: 0px;
    border: 2px solid #000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: -250px;
    margin-left: 150px;
  }
  
  /* Inner slider wrapper */
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  /* Individual slides */
  .slide {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    height: 351px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #FADD5D;
  }
  
  /* Navigation buttons */
  button {
    background-color: #D9D9D9;
    padding: 15px 17px;
    cursor: pointer;
    border-radius: 40px;
    transition: background 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button:hover {
    background-color: #D9D9D9;
  }
  
  /* Positioning buttons */
  .prev { left: 10px; }
  .next { right: 10px; }

#styles{
    padding: 90px;
    margin-top: -230px;
    h1{color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: Archivo;
    font-size: 115px;
    font-style: italic;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: -1.265px;
    text-shadow: -16px -1px #000;}

    .thin{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 100;
        line-height: 66.72px;
        letter-spacing: -0.528px;
    }

    .extra{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 200;
        line-height: 139%;
        letter-spacing: -0.528px;
    }

    .light{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 139%;
        letter-spacing: -0.528px;
    }
    .regular{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 139%;
        letter-spacing: -0.528px;
    }

    .medium{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 139%;
        letter-spacing: -0.528px;
    }

    .semi{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 139%;
        letter-spacing: -0.528px;
    }

    .bold{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 139%;
        letter-spacing: -0.528px;
    }

    .xbold{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 139%;
        letter-spacing: -0.528px;
    }

    .black{
        color: #0552B5;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 139%;
        letter-spacing: -0.528px;
    }
}

.container1{
    
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
        color:#FFF;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 67.2px;
        letter-spacing: -0.528px;
        display: grid;
        width: 200px;
        height: 55px;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
}
.roman{
    margin-left: 80px;
    margin-right: auto;
    margin-top: -333px;
}
.italic{
    margin-left: 1000px;
    margin-top: -333px;
    text-align: right;
}

.container2{
    display: grid;
    width: 350px;
    height: 350px;
    grid-template: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    color: #cccccc;
    margin-left: 80px;
    margin-right: auto;
    margin-top: -315px;
    text-align: left;
    font: 40px Archivo, serif;
    font-style: normal;
    line-height: 47.52px;
    letter-spacing: -0.72px;
    color: #0552B5;
}

.thin{font-weight: 100;}
.extra{font-weight: 200;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.medium{font-weight: 500;}
.semi{font-weight: 600;}
.bold{ font-weight: 700;}
.xbold{font-weight: 800;}
.black{font-weight: 900;}

.container3{
    
    display: grid;
    width: 480px;
    height: 350px;
    grid-template: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    color: #cccccc;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -350px;
    text-align: right;
    font: 40px Archivo, serif;
    font-style: italic;
    line-height: 47.52px;
    letter-spacing: -0.72px;
    color: #0552B5;
}

.thinI{font-weight: 100;}
.extraI{font-weight: 200;}
.lightI{font-weight: 300;}
.regularI{font-weight: 400;}
.mediumI{font-weight: 500;}
.semiI{font-weight: 600;}
.boldI{ font-weight: 700;}
.xboldI{font-weight: 800;}
.blackI{font-weight: 900;}

.container4{
    display: grid;
    width: 900px;
    height: 350px;
    grid-template-columns: repeat(9,1fr);
    column-gap: 40px;
    margin-left: 160px;
    margin-right: auto;
    margin-top: 250px;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: Archivo;
    font-size: 160px;
    font-style: normal;
    color: white;
}

.Athin{font-weight: 100;}
.Aextra{font-weight: 200;}
.Alight{font-weight: 300;}
.Aregular{font-weight: 400;}
.Amedium{font-weight: 500;}
.Asemi{font-weight: 600;}
.Abold{ font-weight: 700;}
.Axbold{font-weight: 800;}
.Ablack{font-weight: 900;}

.container5{
    display: grid;
    width: 900px;
    height: 350px;
    grid-template-columns: repeat(9,1fr);
    column-gap: 40px;
    margin-left: 160px;
    margin-right: auto;
    margin-top: -160px;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: Archivo;
    font-size: 160px;
    font-style: italic;
    color: white;
}

.Ithin{font-weight: 100;}
.Iextra{font-weight: 200;}
.Ilight{font-weight: 300;}
.Iregular{font-weight: 400;}
.Imedium{font-weight: 500;}
.Isemi{font-weight: 600;}
.Ibold{ font-weight: 700;}
.Ixbold{font-weight: 800;}
.Iblack{font-weight: 900;}

/* Dropdown container */
.dropdown1 {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #C14B4B;
    color: #000;
    padding: 5px 50px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 0px;
    margin-left: 80px;
    margin-top: 250px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    z-index: 1;
    font-family: Archivo;
    margin-left: 80px;
    margin-top: 290px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: white;
}

/* Optional: Style for hover effect on the button */
.dropbtn:hover {
    background-color: #85B4F1;
}

.dropbtn2{
    background-color: #C14B4B;
    color: #000;
    padding: 5px 50px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 0px;
    margin-left: 75px;
    margin-top: 445px;
}

.dropbtn2:hover {
    background-color: #85B4F1;
}

.show {
    display: block;
}

* {
    margin: 0; padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Archivo", sans-serif;
  }

.tt{
    margin-left: 350px;
    margin-top: -150px;
    font-size: 18px;
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: 700;
    border: 0px solid #000;
    padding: 10px;
    border-radius: 0px;
    background-color: #0552B5;
    width: 750px;
    color: #FFF;
}
  
  .sample {
    outline: none;
    font-family: sans-serif;
    margin-top: 60px;
    margin-left:130px ;
    margin-right: 50px;
    font-size: 20px;
    line-height: 26px;
    color: #C14B4B
  }
  

#glyphs{
    margin-top: -165px;
    .box5{
    width: 646.761px;
    height: 107.175px;
    border: 3px solid #000;
    background: #85B4F1;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-family: Archivo;
    font-size: 115px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    position: relative;
    left: -310px;
}
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: -70px;
    margin-left: 160px;
}
    
.box4{
    background-color: rgba(250, 221, 93, 0.50);
    color: #000;
    position: relative;
    font: 20px Archivo, serif;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    letter-spacing: -0.72px;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 0px;
    left: -518px;
    top: -400px;
    height: 30px;
    width: 188px;
    align-content: center;
}

#glyphgrid .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: 700px;
    margin-top: -900px;
    margin-left: 600px;
}

.glyph-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 60px;
}

.glyph {
    background: #D9D9D9;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid #000;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 15px 10px 0px #011A2D;
    color: #0552B5;
    text-align: center;
    font-family: Archivo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    width: 90px;
    height: 90px;
}

.glyph:hover {
    background: #FADD5D;
    color: #011A2D; 
    transform: scale(1.5); 
}

.glyph-overview {
    margin-top: -700px;
    padding: 20px;
    border: 0px;
    background-color: #FADD5D;
    border-radius: 0px;
    max-width: 350px;
    height: 350px;
    margin-left: 150px;
    margin-right: auto;
    text-align: center;
}

.overview-details {
    margin-top: 30px;
}

#overview-name {
    font-weight: bold;
    color: #85B4F1;
    text-align: center;
    font-family: Archivo;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 250px;
}

.tape{
    width: 100px;
    height: 29px;
    flex-shrink: 0;
    background: #0552B5;
    margin-top: -365px;
    margin-left: 280px;
}

#axis-of-variable{
    margin-top: 160px;
    .overlay-text{
    position: relative;
    font-size: 90px;
    font-weight: 900;
    color: rgba(250, 221, 93, 0.50);
    text-align: center;
    font-family: Archivo;
    font-size: 90px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.99px;
}

.overlay-text::before{
    content: "AXIS OF VARIABLE";
    position: absolute;
    left: -10px;
    top: -12px;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
    font-family: Archivo;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: -1.265px;
    z-index: -1;
}
}

.slider-container1{
    text-align: left; /* or right */
    border: 2px solid #000;
    padding: 20px;
    background: rgba(250, 221, 93, 0.50);
    height: 200px;
    box-shadow: none;
    margin-top: -300px;
    margin-left: 150px;
    width: 1200px;
}

.slider-container1 h1{
    font-size: 18px;
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: 700;
}

.slider-container1 #text {
    font-weight: 400;
    font-size: 3rem;
    transition: font-weight 0.3s ease;
    margin-left: 100px;
}
.weightSlider input[type="range"] {
    width: 300px;
    margin-top: 20px;
}

.slider-container2 {
    text-align: left; /* or right */
    border: 2px solid #000;
    padding: 20px;
    background: rgba(250, 221, 93, 0.50);
    height: 200px;
    box-shadow: none;
    margin-top: 30px;
    margin-left: 150px;
    width: 1200px;
}

.slider-container2 h1 {
    font-size: 18px;
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: 700;
}

.slider-container2 #text2 {
    font-weight: 400;
    font-size: 3rem;
    transition: font-weight 0.3s ease;
    margin-left: 100px;
}

.widthSlider input[type="range"] {
    width: 300px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#fonts-in-use{
    margin-top: -200px;
    margin-left: -650px;
    padding: 100px;
    h1{
        color: #FFF;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #0552B5;
        font-family: "Archivo Narrow", serif;
        font-size: 90px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        letter-spacing: -4px;
        text-shadow: -10px 10px #011A2D;
    }
}
.examples{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-top: -550px;
    margin-left: 80px;
}

a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    transform: scale(1.3);
}

 .examples img {
    border-radius: 0px; 
    box-shadow: 6px 6px 10px #0552B5; 
    transition: opacity 0.3s ease-in-out;
}

.examples img:hover {
    opacity: 0.8;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FADD5D;
    color: white;
    text-align: center;
    font-family: "Archivo", serif;
}
